* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 選取後藍底白字變成黑底黃字 */
*::selection {
  background-color: black;
  color: yellow;
}
header {
  background-color: #d5d1d1;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  transition: background-color 1s ease-in;
}
header:hover {
  background-color: darksalmon;
  color: aliceblue;
}
nav {
  background-color: #38383c;
  max-width: 100%;
  position: sticky;
  top: 0;
  width: 100%;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 1rem;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Rubik Distressed", cursive;
}
nav ul li {
  display: flex;
}
nav ul li a {
  color: white;
  text-shadow: rgb(32, 183, 52) 0.1em 0.1em 0.2em;
  text-decoration: none;
  transition: all 0.25s ease;
  padding: 0.5rem 0.75rem;
  font-size: 2rem;
}
nav ul li a img {
  height: 1.5rem;
}
nav ul li :hover {
  background-color: rgb(201, 83, 65);
  font-size: large;
  color: yellow;
}

main {
  width: 100%;
  display: flex;
  margin: 0rem;
  padding: 5px;
  background: linear-gradient(gray, #383838);
  color: orange;
  font-family: "微軟正黑體";
  font-size: 1.5rem;
  font-weight: bold;
}
main.lefts,
.rights {
  padding: 3rem;
}
main.ul li {
  text-shadow: 0 0 0.2em #87f, 0 0 0.2em #87f, 0 0 0.2em #87f;
}

.headerText {
  width: 300px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.subject {
  display: block;
  text-shadow: 1px 1px 0px #888888;
  font-size: 1.4em;
  font-weight: bold;
  padding-left: 30px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-shadow: 0.1em 0.1em 0.2em yellow;
  transition: all 0.3s ease-in;
}
.subject:hover {
  background-color: darksalmon;
  color: aliceblue;
}
div p {
  margin-left: 20px;
  font-size: 1.2em;
}

.view {
  max-width: 100%;
  margin: auto;
  text-align: left;
}

div {
  background-color: rgb(204, 195, 195);
  font-family: "微軟正黑體";
}

.step {
  width: 95%;
  margin: 0px 2%;
  display: flex;
  justify-content: left;
  white-space: nowrap; /*不換行*/
}

.steps {
  display: block;
  flex: none;
  line-height: 35px;
  width: 12%;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 10%;
}

.steps1 {
  display: block;
  flex: none;
  line-height: 35px;
  width: 15%;
  max-width: 80%;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5%;
}

.title {
  text-align: justify;
  font-size: 2rem;
  white-space: nowrap;
  margin-bottom: 20px;
  padding-left: 200;
}
.description {
  line-height: 35px;
  margin-right: 50px;
  margin-left: 50px;
  padding-left: 200;
  font-weight: bold;
}

.text {
  margin-left: 50px;
  padding-left: 200;
  font-weight: bold;
  line-height: 35px;
  font-size: 18px;
}
.text1 {
  margin-left: 0px;
  padding-left: 200;
  font-weight: bold;
  line-height: 35px;
  font-size: 19px;
  font-weight: bold;
}
hr {
  size: 10rem;
}
/* 點選變色 */
div :active {
  color: darkblue;
  font-size: 1.25rem;
}
/* 第一個字放大 */
p::first-letter {
  font-size: 2rem;
  color: rgb(47, 79, 34);
}

.hide {
  display: none;
}
.show {
  display: block;
}
.showFlex {
  display: flex;
}

.lefts:hover {
  transform: scale(1.2, 1.2);
}

@media screen and (max-width: 950px) {
  nav li {
    display: contents;
  }
}
