/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif; /* Change font-family */
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0; /* Adjust padding */
  transition: all 0.3s;
  z-index: 99;
  background-color: #919c1a;
  color: #ffffff;
  transition: 0.3s;
  display: flex;
  justify-content: space-between; /* Add to position logo and nav items on left and right */
}

.logo-container {
  padding: 0.5rem;
  height: 4rem;
  z-index: 100;
  transition: all 0.3s;
  width: 30vh;
  margin-right: auto;
}

.nav-container {
  margin-right: 1.5rem;
}

nav {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-top: 1rem; /* Add padding to fix covered text */
}

nav li {
  margin-right: 20px;
  position: relative;
}

nav li:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f7941d;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav li:hover:before {
  transform: scaleX(1);
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.2px;
  transition: all 0.3s;
}

nav li > a:focus ~ .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  margin-right: 0;
}
.hero {
  background-image: url("./picture/安卡圖.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  height: 100vh; /* 設定高度為視窗高度的 100% */
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  z-index: 2;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  z-index: 2;
}

.filter {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  top: 50%; /* 將容器垂直置中 */
  transform: translateY(-50%);
  font-size: 2rem; /* Add default font size */
}
/* Responsive font size */
@media (max-width: 768px) {
  .container {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    font-size: 1.2rem;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.2px;
  transition: all 0.3s;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  color: #f7941d;
  transition: color 0.3s;
}

/* Main Section Styles */
main {
  margin-top: 5rem;
  padding: 1.5rem;
}

/* Footer Styles */
footer {
  background-color: #333;
  padding: 1.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  margin-right: 1rem;
  color: #ffffff;
}

.footer-links a:hover {
  color: #f7941d;
}
